@mixin DebugGrid() {
  @if($grid-debug == true) {
    background-color: rgba(pink, 0.2);
  }
}

@mixin CreateGrid($modifier, $columns, $breakpoint) {
  @include MediaQuery($breakpoint) {
    .offset-#{$modifier}-0 {
      margin-left: 0;
    }
    @for $i from 1 through $columns {
      .col-#{$modifier}-#{$i} {
        flex-basis: (100 / ($columns / $i)) * 1%;
      }
      .offset-#{$modifier}-#{$i} {
        margin-left: (100 / ($columns / $i)) * 1%;
      }
    }
  }
}

.grid {
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  &-fluid {
    max-width: 100%;
    margin: 0;
  }
  @include DebugGrid();

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .col {
      flex: 1;
      padding-left: $grid-column-padding;
      padding-right: $grid-column-padding;
      @include DebugGrid();
    }

    @each $modifier, $breakpoint in $grid-breakpoints {
      @include CreateGrid($modifier, $grid-columns, $breakpoint);
    }
  }
}
