/*
General Settings
 */
$body-bg: white;

/*
Typography
 */
$default-text-color: #1c1c1c;
$font-family: sans-serif;

/*
Colors
 */
$primary-color: white;
$accent-color: #0d69ff;

/*
Responsive Breakpoints
 */
$screen-small: 575px;
$screen-medium: 768px;
$screen-large: 991px;
$screen-extra-large: 1199px;

/*
Grid Settings
 */
$grid-columns: 12;
$grid-width: 1200px;
$grid-column-padding: 0.5rem;
$grid-breakpoints: ('sm': 0, 'md': $screen-medium, 'lg': $screen-large, 'xl': $screen-extra-large);
$grid-debug: true;